 <!DOCTYPE html>
<html>
<head>
    <style>
        body {background-image:url('{{ background_image }}'); background-color:black; background-size:cover; background-repeat: no-repeat; color: lightgray;font-family: Love Story Rough; font-size:26pt;}
    </style>
        <script type="text/javascript" src='js/updateTime.js'> </script>
</head>
<body>
    <center  id="text" style="margin-top:7em">
    </center>

    <script>
      updateTime("{{ restricted_time }}", "text");
    </script>

</body>
</html>